<div class="flex-container main"
     (click)="showEvent($event)">
  <div class="left-pane padding">
    <div class="chat-windows-container">

      <div class="flex-row-center">
        <h4>Join new conversation:</h4>
      </div>
      <div class="search-div">
        <div class="inner-search-div">
          <input class="search-input"
                 (focus)=showSearchInput($event)
                 (click)=showSearchInput($event)
                 (input)="updateSearch($event)"
                 type="text"
                 [formControl]="searchInput"
                 >
          <div
            class="conversation-result-div"
            *ngIf="searchInputFocus">

                 <app-conversation-search
                   *ngFor = "let conversation of conversationsRegular; let i = index;"
                   [conversationId]="conversation.id"
                   [conversationName]="conversation.conversationName"
                   (idEmitter)="addUserToConversation($event)"
                 ></app-conversation-search>

          </div>
        </div>
      </div>

      <h4>Your conversations:</h4>
      <app-conversation
        *ngFor = "let conversation of conversations; let i = index;"
        [conversationName]="conversation.conversationName"
        [id] = "conversation.id"
        [currentConversation]="currentConversation"
        (idEmitter) = "changeConversation($event)"
      ></app-conversation>

    </div>
  </div>

  <div class="right-pane">
    <div class="top-pane-div">
      <h2>Hello, {{this.currentUser.username}}</h2>
      <div>
        <button type=button
                class="btn btn-primary create-new-chat-button"
                (click)="goToConversationCreation()"
        >
          create new Conversation</button>
        <button type="button"
                class="btn btn-primary sign-out-button"
                (click)="onSignOut()">Sign out</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
